* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
  }

:root {
    --primary-color: #1d1e20;
    --secondary-color: #28292d;
    --ternary-color: #2d2e33;
    --font-color: rgb(221, 218, 218);
}

html[data-theme='light'] {
    --primary-color: #e2e1df;
    --secondary-color: #d7d6d2;
    --ternary-color: #d2d1cc;
    --font-color: #222525;
}

html[data-theme='dark'] {
    --primary-color: #1d1e20;
    --secondary-color: #28292d;
    --ternary-color: #2d2e33;
    --font-color: rgb(221, 218, 218);
}


.principal {
    display: grid;
    grid-template-columns: 7vw auto;
    width: 100vw;
    height: 100vh;
}

.users {
    background-color: var(--primary-color);
}

.holders {
    display: grid;
    grid-template-rows: 8vh auto;
}

.holders header {
    border-bottom: 0.1vw solid #0d0d0d;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 15vw auto;
}

.navigatorHeader #search {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.navigatorHeader #search input, .specials input {
    width: 90%;
    border-radius: 0.3vw;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-color: var(--primary-color);
    height: 60%;
    color: var(--font-color);
    font-size: 1vw;
    text-align: center;
    padding: 1vw;
    font-weight: lighter;
    outline: none;
}

.navigatorHeader #friendInfo {
    background-color: var(--ternary-color);
    display: grid;
    grid-template-columns: 15vw 33vw 30vw;
}

.atSign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.friendName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.atSign {
    gap: 1vw;
}

.atSign, .friendName h2 {
    font-size: 1vw;
    color: var(--font-color);
}

.specials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    padding: 0vw 1vw;
}

.specials button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    font-size: 1.3vw;
}

.specials input {
    width: 80% !important;
    height: 40% !important;
    text-align: start;
}

.main {
    display: grid;
    grid-template-columns: 15vw 60vw 18vw;
}

.main .conversations {
    background-color: var(--secondary-color);
}
.main .chat {
    background-color: var(--ternary-color);
}
.main div:nth-child(3) {
    background-color: var(--secondary-color);
}


.conversations #friends, #blocked {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.8vw 2vw;
    font-size: 1vw;
    font-weight: lighter;
    cursor: pointer;
    gap: 2vw;
}